:root {
	--col-count: 12;
	--col-size: 70px;
	--gap-size: 20px;
	--half-size: calc(6 * var(--col-size) + 5 * var(--gap-size));
}

*, *::before, *::after { box-sizing: border-box; }

body {
	font-family: Poppins;
	font-size: 16px;
	color: #331E6A;
	overflow-x: hidden;
	background-color: #FFF8F0;
}

.hero-grid {
	display: grid;
	grid-template-columns: 
		calc(50% - var(--half-size) - var(--gap-size) * 0.5) 
		[content-start] var(--half-size) [content-end] 
		var(--gap-size) 
		[hero-image-start] calc(50% - var(--gap-size)*0.5) [hero-image-end];
}

.main-grid {
	--pad: calc((100% - 1060px) * 0.5);

	display: grid;
	grid-template-columns: var(--pad) max(1060px) var(--pad);
	grid-template-rows: auto;
}

.main-grid > * {
	grid-column: 2 / 3;
}

.hero-info-wrap {
	grid-column: content-start;
}

address {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 49px;
}

address a {
	font-family: Roboto, Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	color: black;
}

address a::before {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	vertical-align: middle;
	content: "";
}

address a[href^="tel:"]::before {
	background-image: url(./img/phone-icon.svg);
}

address a[href^="mailto:"]::before {
	background-image: url(./img/mail-icon.svg);
}

.hero-supper-text {
	margin-bottom: 10px;
	font-weight: 500;
	letter-spacing: 0%;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #291854;
}

h1 {
	margin: 0;
	margin-bottom: 30px;
	color: #190D37;
	font-family: "League Spartan", Arial, Helvetica, sans-serif;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 50px; /* 104.167% */
}

.underline-deco {
	position: relative;
}

.underline-deco::after {
	width: 100%;
	height: 100%;
	content: "";
	background-image: url(./img/underline-deco.svg);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: calc(100% - 16px);
	z-index: -1;
}

.hero-info-text {
	margin-bottom: 20px;
	color: #331E6A; 
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px; /* 177.778% */ 
}

button, .btn {
	--fill-color: #2F2F2F;
	--text-color: #fff;
	display: inline-block;
	padding: 12px 24px;

	color: var(--text-color);
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal; 

	border: none;
	border-radius: 4px;
	background-color: var(--fill-color);

	cursor: pointer;
}

.btn-outline {
	padding: 10px 22px;
	color: var(--fill-color);
	background-color: var(--text-color);
	border: 2px solid currentColor;
}

.main-photo {
	display: block;
	width: 100%;
	height: 48.6vw;
	max-width: 710px;
	max-height: 600px;
	border-bottom-left-radius: 200px;
	object-fit: cover;
	grid-column: hero-image-start;
	position: relative;
	z-index: 0;
}

.deco-shape {
	width: 24vw; 
	max-width: max-content;
	position: absolute; 
	top: 0;
	left: 0;
	filter: blur(125px);
}

header .deco-shape {
	z-index: -1;
}

.deco-shape[src*="-2"] {
	transform: translateX(48.75vw);
}
.deco-shape[src*="-1"] {
	transform: translate(69.4vw, 25vw);
}

header {
	margin-bottom: 96px;
}

main {
	margin: 0 auto;
	margin-bottom: 98px;
}

section.feature:not(:last-child) {
	margin-bottom: 98px;
}

.feature > * {
	margin: 0 auto;
}

.feature > h2 {
	margin-bottom: 8px;
	color: #2858FF;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
}

.feature > h2 + .subheading {
	display: block;
	margin: 0 auto;
	margin-bottom: 8px;
	max-width: 700px;
	text-align: center;
	font-family: "League Spartan", Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 40px;
	color: black;
}

.feature-description {
	max-width: 700px;
	margin-bottom: 48px;
	color: #190D37;
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: center;
}

.service-list {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-bottom: 98px;
	padding: 0;
	list-style: none;
	gap: 20px;
}

.service-list-wrap {
	position: relative;
	z-index: 0;
}

.service-list-wrap .deco-shape {
	position: absolute;
	inset: initial;
	z-index: -1;
}

.service-list-wrap .deco-shape[src*="-4"] {
	right: -100px;
	top: -116px;
}
.service-list-wrap .deco-shape[src*="-3"] {
	left: -112px;
	bottom: -88px;
}

.service-list-card, .price-list-card {
	padding: 20px;
	/* credits for formula 
		https://wiryawanadipa.com/blog/calculate-percentage-width-of-flex-items-when-using-gap/ */
	max-width: calc(33.33% - (2/3 * 20px));
	flex: 1 1 auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 6px 2px 25px -9px rgba(0, 0, 0, 0.10);
}

.service-type-name {
	margin: 0;
	margin-bottom: 8px;
	color: #000;
	text-align: center;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.service-type-info {
	margin: 0;
	color: #55206D;
	text-align: center;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.project-list {
	list-style: none;
	padding: 0;
	margin-top: 48px;
}

.project-list > li {
	margin-bottom: 40px;
}

.project-list-proj-icon {
	width: 160px;
	height: 160px;
	margin-right: 20px;
	float: left;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	/* background-color: #19ACFF; */
}

.project-list-proj-icon::before {
	content: "PN";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	color: #FFF;
	text-align: center;
	font-family: Poppins;
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.project-list-proj-name {
	margin: 0;
	margin-bottom: 8px;
	color: #291854;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.project-list-proj-info {
	margin: 0;
	margin-bottom: 8px;
	color: #55206D;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
}

.project-list-proj-link {
	color: #6A87A3;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
}

.project-list-proj-link:hover {
	text-decoration: underline;
}

.project-list > li:nth-child(3n+1) .project-list-proj-icon {
	background-color: #19ACFF;
}

.project-list > li:nth-child(3n + 2) .project-list-proj-icon {
	background-color: #FFE819;
}

.project-list > li:nth-child(3n) .project-list-proj-icon {
	background-color: #FF1919;
}

.price-list {
	list-style: none;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 20px
}

.price-list-card {
	display: flex;
	flex-flow: column;
	font-family: Poppins, Arial, Helvetica, sans-serif;
}

.price-list-card.accent {
	background-color: #FFD748;
}

.price-list-card.accent .price-card-title {
	color: black;
}

.price-list-card.accent .price-card-features > li {
	color: rgba(0, 0, 0, 0.75);
}

.price-card-title {
	margin-bottom: 8px;
	color: #2858FF;
	font-size: 14px;
	font-weight: 500;
}

.price-card-price {
	margin-bottom: 8px;
	color: #000;
	font-size: 36px;
	font-weight: 700;
}

.price-card-price-detail {
	margin-left: 12px;
	color: #8A8A8A;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
}

.price-card-info {
	margin-bottom: 16px;
	color: #8B8B8B;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px; /* 164.286% */
}

.price-card-features {
	list-style: none;
	padding: 0;
	flex: 1 1 100%;
}

.price-card-features > li {
	margin-bottom: 8px;
	padding-left: 28px;
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: normal;
	position: relative;
}

.price-card-features > li::before {
	display: block;
	width: 20px;
	height: 20px;
	background-image: url(./img/checkmark.svg);
	position: absolute;
	top: 2px;
	left: 0px;
	content: "";
}

.circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	filter: blur(250px);
	z-index: -1;
	opacity: 0.5;
}

.circle.yellow { 
	background-color: #FFB800;
}
.circle.blue { 
	background-color: #64DAFF;
}

.main-grid .circle.yellow {
	grid-column: 1;
	grid-row: 3;
	margin-left: -150px;
	margin-top: -150px;
}

.main-grid .circle.blue {
	grid-column: 4;
	grid-row: 4;
	margin-top: -150px;
	margin-left: -150px;
}

.qa-list {
	margin: 0 auto;
	max-width: 700px;
	overflow: hidden;
}

.qa-list dt {
	margin-bottom: 8px;
	color: #55206D;
	font-family: Poppins, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal; 
	cursor: pointer;
}

.qa-list dt:hover {
	background-color: rgba(0, 0, 0, 0.048);
}

.qa-list dd {
	margin: 0;
	margin-bottom: 16px;
	color: #6A87A3;
	font-family: Inter, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 171.429% */
}

.qa-list > dt + dd {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0s linear;
}

.answer-opener:checked + * .dropdown-icon {
	--rotation: -135deg;
	--y-coord: 10px;
}

.answer-opener:checked + dt + dd {
	max-height: 500px;
	transition: max-height 0.5s linear;
} 

footer {
	padding: 20px 0;
	background-color: black;
}

.copyright {
	margin: 0;
	color: #FFF;
	font-family: Poppins;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-align: center;
}