/* shared text styles */

.weight-normal {
	font-weight: normal;
}

/* shared grid classes */

.d-flex { 
	display: flex;
	flex-flow: row wrap;
}

.flex-nowrap { flex-wrap: nowrap; }

/* shared size classes */

.w-25 { width: 25%; }
.w-33 { width: 33.33%; }
.w-50 { width: 50%; }
.w-66 { width: 66.66%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }

.d-none { display: none !important; }