/* shared text styles */

.weight-normal {
	font-weight: normal;
}

/* shared grid classes */

.d-flex { 
	display: flex;
}

.justify-content-around, .flex-around { justify-content: space-around; }
.justify-content-between, .flex-between { justify-content: space-between; }
.align-items-flex-start, .align-flex-start { align-items: flex-start; }
.align-items-center, .align-center { align-items: center; }

.flex-nowrap { flex-wrap: nowrap; }

/* cursor styles */

.cursor-pointer { cursor: pointer; }

/* shared size classes */

.w-25 { width: 25%; }
.w-33 { width: 33.33%; }
.w-50 { width: 50%; }
.w-66 { width: 66.66%; }
.w-75 { width: 75%; }
.w-100 { width: 100%; }

/* display classes */

.d-none { display: none !important; }

.v-hidden {
	width: 0;
	height: 0;
	position: absolute;
	overflow: hidden;
}

/* deco elements */

.dropdown-icon {
	--elt-size: 24px;
	--icon-size: 12px;
	--line-size: 2px;
	--color: currentColor;
	--rotation: 45deg;
	--y-coord: 3px;

	display: inline-block;
	width: var(--elt-size);
	height: var(--elt-size);
	vertical-align: middle;
	cursor: pointer;
}

.dropdown-icon::after {
	content: "";
	display: block;
	width: var(--icon-size);
	height: var(--icon-size);
	border-bottom: var(--line-size) solid var(--color);
	border-right: var(--line-size) solid var(--color);
	transform: translate(6px, var(--y-coord)) rotate(var(--rotation));
	transition: transform 0.25s;
}

.dropdown-icon.open::after { 
	transform: translate(6px, var(--y-coord)) rotate(var(--rotation)); 
}
.dropdown-icon.closed::after { 
	--rotation: -135deg;
	--y-coord: 8px;
}